# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
p_creator/node_modules
p_creator/.pnp
.pnp.js

# testing
p_creator/coverage

# next.js
p_creator/.next/
p_creator/out/

# production
p_creator/build

# misc
p_creator/.DS_Store
p_creator/*.pem

# debug
p_creator/npm-debug.log*
p_creator/yarn-debug.log*
p_creator/yarn-error.log*
p_creator/.pnpm-debug.log*

# local env files
p_creator/.env*.local
p_creator/.env

# vercel
p_creator/.vercel

# typescript
p_creator/*.tsbuildinfo

# next-env.d.ts
p_creator/.next-env.d.ts
